.imagen16{
    width: 100%;

    margin-bottom: -90px;

}

.container-about{
    width: 100%;
    height:550px;

}

.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}

.titulo{
    margin-top:80px;
    display: flex;
    justify-content: center;
}

.parrafo-aboutus {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.containerhome-one{
    height: 900px;
}