
.container {
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
   
  }

  .Titulo-Formulario{
  margin-top: 100px;
}



  .container-form{
    background-color: white;
    padding:50px 50px 15px 50px;
    border-radius: 10px;
    border: solid 1px gray;
    width: 80%;
    min-width: 300px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    overflow: hidden;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .container-header{
    display: grid;

  }
  
  .logo {
    display: flex;
    height: 90px;
    width: 90px;
    margin-bottom: 10px; 
  }
  
  
  
  .tituloUno {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: start; 
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  .parrafoUno{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    
  }

  input{

    padding: 10px;
    width: 400px;
    margin:3px;
    border-radius: 5px;
  }


  .input-form{
    
    align-items: center;
  }

  .buttonContainer{
    display: flex;
    justify-content: end;
    margin-left: auto;
    padding: 10px;

  } 
  
  .customButton{
    padding: 10px;
    border-radius: 10px;
    background: blueviolet;
    color:aliceblue
  }