


.container-inside {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 300px;
    background-color: black;
    color: white;
  }
  
  .footer-copy {
    margin-bottom:100px; 
  }
  
  .nav-link  {
    text-decoration: none; 
    color: inherit; 
  }

  
.dark .container-inside{
  background: #000;
  color: #fff;
}




.light .container-inside {
  background: white;
  color:rgb(51, 49, 49);
}


.searchfooter-box{
  display: flex;
  align-items: center;
  background: #242424;
  padding: 10px 20px;
  border-radius: 50px;
 }

